# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll
#Update libs because pathing is a nightmare

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
# *.lib

# Executables
*.exe
*.out
*.app

# Previous versions
.vs\*
.vs/*

#Logs
*-logs*
*tlog\*
*.log
*.tlog

#Compiled databases and others
*.idb
*.pdb
*.ilk
*.res